timm==1.0.15
ml_collections==1.0.0
tensorboard==2.19.0
thop==0.1.1.post2209072238
PyWavelets==1.8.0
einops==0.8.1
PepperPepper==0.0.9.37 -i https://pypi.org/simple
pandas==2.3.2
matplotlib==3.10.1
matplotlib_inline==0.1.6
IPython==8.30.0
opencv-python==4.11.0.86
requests==2.32.3
scikit-learn==1.6.1
tensorboardX==2.6.2.2
scikit-image==0.25.2
pyotp==2.9.0
torchinfo==1.8.0
fvcore==0.1.5.post20221221